{% extends 'Website/base.html' %}
 
{% block title %}
	<title>Home</title>
{% endblock %}

{% block bal %}
{{ bal.wallet_balance }}
{% endblock %}

{% block content %}

	<div class="container" id='list'>
	    <div class="row">
	            {% for item in items %}
	                <div class="col-sm-4">
	                    <div class="thumbnail bg-info clearfix">
	                        <a href="{% url 'item_details' item.pk %}">
	                        	<!-- {{item.pic}} -->
	                            <img id='mainpageimage' src="/static/{{ item.pic }}" class="img-responsive">
	                        </a>
	                        <div class="caption">
	                            <h2>{{ item.name }}</h2>
	                            <h4>₹{{ item.unit_price}}</h4>
	                            <a href="{% url 'item_details' item.pk %}" class="btn btn-danger col-xs-12" role="button">View Details</a>
	                        </div>
	                    </div>
	                </div>
	            {% endfor %}
	    </div>
	</div>

{% endblock %}