{% extends 'Website/base.html' %}
 
{% block title %}
	<title>Home</title>
{% endblock %}

{% block bal %}
{{ bal.wallet_balance }}
{% endblock %}

{% block content %}
	<div class="container" id='list'>
	    <div class="row">
	            {% for key, values in allTrans.items %}
	            	<div class="col-sm-3">
	        	    	<div class="panel panel-primary">
	        	    		<div class="panel-heading">
	        	    			<h4 style="text-align: center;">Transaction ID: {{ key }}</h4>
	        	    		</div>
	        	    		<div class="panel-body">
				            	{% for item in values %}
				                            <h2>{{ item.item.name }}</h2>
				                            <h4>₹{{ item.item.unit_price}}</h4>
				                {% endfor %}
			            	</div>
			            	<div class="panel-footer">
			            		<h5>{{ key.transaction_date }}</h5>
			            	</div>
		            	</div>
		            </div>
	            {% endfor %}
	    </div>
	</div>
{% endblock %}